spring:
  profiles:
    active: development
    group:
      development: development
      test: test
  data:
    redis:
      host: redis
      port: 6379
server:
  port: 3000
logging:
  level:
    root: INFO
    org.springframework.web: INFO
okta:
  oauth2:
    issuer: https://auth0.com/
    audience: https://auth0.com/api/v2/
    client-id: id
application:
  client-origin-url: >
    http://localhost:3002,
    http://frontend-nginx:80
  cors-max-age: 86400
